h1 {
    color: #d05353ff;
    font-size: 90px;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
  }
.parrafotext {
    text-align: left;
    margin: 0; 
    padding: 10px;
    
}

/*Slinder */


.sliderBoxContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 600%; 
  white-space: nowrap; 
}
.sindlerImage{
  width: 100%;
  height: 300px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.sliderBoxContainer {
  animation: slide 400s linear infinite; 
}



  .parrafo {
    color: #e9c46aff; 
    font-size: 20px;  
    margin-top: -85px;  
  }
  .tituloLink {
    color: #2a9d8fff;
    text-decoration: underline;
    transition: color 0.3s;
  }
  .tituloLink:hover {
    color: #d05353ff; 
}
  .titulo{
    color: #d05353ff;
  }

.horizontalLine {
    border-top: 1px solid #e9c46aff; 
    margin: 55px 10px; 
  }
  

  .articleContainer {
    align-items: center;
  }
  
  
  .articleImage {
    width: 470px; 
    height: 400px;
    object-fit: cover;
    max-width: 100%; 
    margin: 0 5px; 
  }
.razaSection {
    float: left; 
    width: 50%;
}


.homeSection {
    float: right; 
    width: 50%; 
  }
  

  .createSection {
    float: left; 
    width: 50%; 
  }
  

  .divider {
    border-left: 1px solid #e9c46aff; 
    height: 100%;
  }
  
  


  