/* Create.module.css */

:root {
    --charcoal: #264653ff;
    --persian-green: #2a9d8fff;
    --saffron: #e9c46aff;
    --indian-red: #d05353ff;
    --old-rose: #c78283ff;
  }
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--saffron);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .form-inputnum{
    max-width: 40%;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--charcoal);
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-input,
  .form-select {
    max-width: 90%;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--charcoal);
    border-radius: 4px;
    font-size: 16px;
  }
  
  
  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;

  }
  
  .buttonRemove {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
  }  
  .buttonRemove::after {
    content: "[X]";
    color: black; 
    font-size: 10px;
    padding: 5px;
  }
  .buttonRemove:hover::after {
    
    color: red;
    font-size: 18px; 
    padding: 5px;
  }
  

  .form-button {
    background-color: var(--indian-red);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }